<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Listado de Ordenes</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label>En</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>construccion</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
